<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/CSS/Landing Page/LandingPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="headDiv">
        <a class="aboutus" href="#">About Us</a>
        <a class="login" href="#">Login</a>
        <a class="signup" href="#">Sign Up</a>
    </header>
    <img class="logo" src="/CSS/Landing Page/images/Main_Logo2.png" alt="">
    <div class="right">
        <h1 class="title">Personal<br>Finance Tracker </h1>
        <h1 class="tagline">Track Smart. Spend Wise. Grow Steady</h1>
        <h1 class="tagline2">Track Your Expenses, Monitor Your <br>Income and Reach Your Financial Goal</h1>
        <a href="#" class="started">Get Started</a>
    </div>
    <img class="imageGr" src="/CSS/Landing Page/images/Graphics.png" alt="">
</body>
</html>