<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" href="../../Asset/CSS/User Authentication/EmailVerification.css">
    <script src="../../Asset/JS/User Authentication/EmailVerification.js" defer></script>
</head>
<body>
   <section class="main_content">
        <h2>Verify Email</h2>

        <form action="#" class="Email_Verify_content" method="post">
            <div class="current_pass">
                <input type="text" name="username" id="Email_input" placeholder="Enter Email Address" required>
            </div>
            <div class="check_current_passBtn">
                <button type="submit" id="Email_submit">Submit</button>
            </div>
        </form>



        <form action="#" class="Otp_content">
            <div class="new_pass">
                <input type="number" name="OTP_input" id="OTP_input" placeholder="Enter 4 Digit Code " required>
                
            </div>
            <div class="save_btn">
                <button type="submit" id="OTP_submit">Save</button>
            </div>



        </form>
    </section>
</body>
</html>