<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forget Password</title>
  <link rel="stylesheet" href="../../Asset/CSS/User Authentication/ForgetPassword.css">
  <script src="../../Asset/JS/User Authentication/ForgetPassword.js" defer></script>
</head>

<body>
  <section class="main_content">
    <h2>Change Password</h2>
    <form action="#" class="new_pass_content">
      <div class="new_pass">
        <input type="password" name="new_pass" id="new_pass_input" placeholder="Enter New Password" required>
        <input type="password" name="retype_new_pass" id="retype_new_pass_input" placeholder="Re-type New Password"
          required>
      </div>
      <div class="save_btn">
        <button type="submit" id="new_pass_submit">Save</button>

      </div>
      <p id="error"></p>
    </form>
  </section>
</body>

</html>