<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/CSS/User Authentication/LogIn.css">
</head>

<body>
    <header>
        <h1>Login</h1>
    </header>
    <section aria-labelledby="login_form" class="login_form">
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />

            <div class="actions">
                <button type="submit">Submit</button>
                <a href="#">Forgot Password?</a>
            </div>
        </form>
    </section>



    <section class="social_login">
        <h2>Or Login With</h2>
        <button>Login with Google</button>
        <button>Login with Facebook</button>
    </section>

    <footer>
        <p>Don't have an account?</p>
        <a href="#">
            <Button>SignUp</Button></a>
    </footer>

</body>

</html>