<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="CSS/User Authentication/SignUp.css">
    <script src="/JS/User Authentication/SignUp.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>
    <section class="main_box">
        <form class="content_box" method="post">
            <div class="header">
                <h2>SignUp Here</h2>
            </div>
            <div class="input_feild">
                <input type="text" name="fname" id="fname" placeholder="First Name" class="place_style" required>
            </div>
            <div class="input_feild">
                <input type="text" name="lname" id="lname" placeholder="Last Name" class="place_style" required>
            </div>
            <div class="input_feild">
                <input type="number" name="phone" id="phone" placeholder="Phone" class="place_style" required>
            </div>
            <div class="input_feild">
                <input type="email" name="email" id="email" placeholder="Email" class="place_style" required>
            </div>
            <div class="gender">
                <h4>Gender</h4>
                <div>
                    <label><input type="radio" name="gender" value="male"> Male</label>
                    <label><input type="radio" name="gender" value="female"> Female</label>
                    <label><input type="radio" name="gender" value="other"> Other</label>
                </div>
            </div>
            <div class="input_feild">
                <input type="date" name="birthdate" id="birthdate" class="date_style" required>
            </div>
            <div class="Submit">
                <button id="signup_btn" class="button" type="submit">SignUp</button>

            </div>
            <div class="login">
                <p>Already a User?</p>
                <a href="/View/User Authentication/LogIn.html">LogIn</a>
            </div>
        </form>
        <footer>
            <h4>SignUp With </h4>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-google"></i></a>
        </footer>

    </section>

</body>

</html>