* {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*///////////////////////////// Header Panel//////////////////////////////////////////*/
.Header {
    position: fixed;
    top: 0;
    left: 00px;
    height: 70px;
    display: flex;
    z-index: 1000;
    background-color: rgba(19, 19, 19, 255);
    width: 100%;
  }
  .logo{
    margin: 10px auto auto 15px;
    display: block;
    width: 120px;
    height: 50px;
}
  .user-info {
    list-style: none;
    position: fixed;
    color: aliceblue;
    text-align: left;
    left: 930px;
    gap: 0px;
    width: 150px;
    height: 60px;
    padding: 0;
    margin-top: 20px;
    appearance: none;
    
  }
  .username {
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  
  .designation {
    margin: 0;
    font-size: 12px;
  }
  
  .Uimg {
    position: relative;
    top:20px;
    margin-left: auto;
    margin-right: 30px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .Unotify {
    position: fixed;
    top:25px;
    left: 880px;
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .search-bar {
    position: absolute;
    left: 320px;
    top: 25px;
    display: flex;
    align-items: center;
  }
  .search-bar input {
    color: white;
    background-color: transparent;
    width: 450px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid white;
  }
  
  .search-bar input::placeholder {
    color: white;
  }
  
  .search-bar input:focus {
    outline: none;
  }
  
  .search-bar .fa-search {
    color: white;
    margin-left: 10px;
  }
  /*///////////////////////////// Header Panel//////////////////////////////////////////*/

    /*///////////////////////////// Body Class //////////////////////////////////////////*/

.bodyclass{
    padding-top: 75px;
    width: 100%;
    height: auto;
    background-color: rgba(86, 150, 209, 0.219);
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.setBudget{
    position: relative;
    margin-top: 10px;
    margin-left: 1%;
    padding-bottom: 50px;
    height: auto;
    background-color:rgba(255,250,238,255);
    width: 98%;
    border-radius: 20px;
}
.setBudget h1{
    color: black;
    margin: 10px 0px -5px 30px;
    font-size: 30px;
}
.line{
    margin-top: -5px;
    height: 3px;;
    background-color: black;
}
.setBudget h2{
    color: black;
    margin: 5px 0px 0px 30px;
    font-size: 22px;
}
.setTargetText{
    background-color: transparent;
    width: 200px;
    height: 30px;
    margin-left: 70px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}
.setTargetText input:focus{
    outline: none;
    border: 2px solid white;
}
.setTargetBTN{
    text-decoration: none;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    background-color: black;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white
}

.catg {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 70px ;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 20px;
}
.category-box {
    background-color: rgba(86, 150, 209, 0.219);
    padding: 10px;
    border-radius: 6px;
    min-width: 100px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}
.category-box label {
    font-size: 18px;
    margin-bottom: 5px;
}

.category-box input {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 4px;
    height: 20px;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.save-btn{
    font: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.edit-btn{
    font: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
}

.addCatg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px dashed black;
    border-radius: 50%;
    color: black;
    font-size: 24px;
    cursor: pointer;
    margin-top: 15px;
    background-color: red;
}

.bodyclass .pTitle  {
  font-size: 20px;
  margin-top: 10px;
  color: black;
}
.progress_bar{
  width: 50%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 50px;
  border: 2px solid black ;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 20px;
}
.progress-container {
  margin-left: 30px;
  width: 70%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.123);
  margin: 10px 0;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #cf4540;
  transition: width 0.5s ease;
}
.setting{
  width: 400px;
  height: auto;
  border: 2px solid black;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
.setting .alertTitle{
  color: black;
  font-size: 22px;
  margin-top: 0px;
  margin-left: 35%;
  padding: 0;
}
.alerts{
  margin-left: 30px;
  margin-top: 25px;
}

/* Making A Toggle Button*/
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin-left: auto;
  margin-right: 10px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; width: 26px;
  left: 4px; bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.eachAlert{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.eachAlertLabel{
  font-size: 17px;
  font-weight: bold;
}