<div class="Notification">
    <h1>Notification</h1>
    <ul class="ULnotification">
        <li class="ULset">
            <img class="ULicon" src="../../CSS/Admin Panel/images/bug.png">
            <a class="ULa" href="#">Feedback or Bug Reports</a>
            <img class="ULarrow" src="../../CSS/Admin Panel/images/forward.png" alt="">
        </li>
        <hr class="ULline">
        <li class="ULset">
            <img class="ULicon" src="../../CSS/Admin Panel/images/support2.png">
            <a class="ULa" href="#">Support Messages</a>
            <img class="ULarrow" src="../../CSS/Admin Panel/images/forward.png" alt="">
        </li>
        <hr class="ULline">
        <li class="ULset">
            <img class="ULicon" src="../../CSS/Admin Panel/images/system.png">
            <a class="ULa" href="#">System Message</a>
            <img class="ULarrow" src="../../CSS/Admin Panel/images/forward.png" alt="">
        </li>
        <hr class="ULline">
        <li class="ULset">
            <img class="ULicon" src="../../CSS/Admin Panel/images/emailsetting.png">
            <a class="ULa" href="#">Email Setting</a>
            <img class="ULarrow" src="../../CSS/Admin Panel/images/forward.png" alt="">
        </li>
        <hr class="ULline">
        <li class="ULset">
            <img class="ULicon" src="../../CSS/Admin Panel/images/notificationCenter.png">
            <a class="ULa" href="#">Notification Center</a>
            <img class="ULarrow" src="../../CSS/Admin Panel/images/forward.png" alt="">
        </li>
        <hr class="ULline">
        <li class="ULset">
            <img class="ULicon" src="../../CSS/Admin Panel/images/notificationSetting.png">
            <a class="ULa" href="#">Notification Setting</a>
            <img class="ULarrow" src="../../CSS/Admin Panel/images/forward.png" alt="">
        </li>
    </ul>
</div>