<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/CSS/Contact Us/ContactUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
    <header class="header">
        <img src="/CSS/Dashboard/images/Main_Logo.png" alt="" class="logo">
    </header>
    <div class="body">
        <div class="info">
            <h1 class="title">Get a quote</h1>
            <h1 class="stitle">Fill Up the Form and Our Team will get back <br> to you within 24 hours</h1>
            <ul class="contacts">
                <li class="eachContact">
                    <img src="/CSS/Contact Us/images/phone.png" alt="" class="conimg">
                    <h1 class="condetails">01304027527</h1>
                </li>
                <li class="eachContact">
                    <img src="/CSS/Contact Us/images/mail.png" alt="" class="conimg">
                    <h1 class="condetails">tuhin@gmail.com</h1>
                </li>
                <li class="eachContact">
                    <img src="/CSS/Contact Us/images/location.png" alt="" class="conimg">
                    <h1 class="condetails">Rd-03, Block-D, Bashundhara, Dhaka</h1>
                </li>
            </ul>
            <div class="social">
                <img src="/CSS/Contact Us/images/facebook.png" alt="" class="eachSocial">
                <img src="/CSS/Contact Us/images/twitter.png" alt="" class="eachSocial">
                <img src="/CSS/Contact Us/images/instagram.png" alt="" class="eachSocial">
            </div>
            <div class="coffe">
                <ul class="coffeSection">
                    <li class="onesection">
                        <img src="/CSS/Contact Us/images/coffee.png" alt="" class="imgCoffee">
                        <label for="" class="text">Buy Me a Coffee</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form">
            <ul class="formUL">
                <li class="eachSection">
                    <label class="Tag">Your Name</label>
                    <input type="text" class="Input" id="name">
                </li>
                <li class="eachSection">
                    <label class="Tag">Mail</label>
                    <input type="text" class="Input" id="mail">
                </li>
                <li class="eachSection">
                    <label class="Tag">Message</label>
                    <input type="text" class="Message" id="message">
                </li>
            </ul>
            <button class="submit" id="send">Send Message</button>
        </div>
    </div>
    <script src="/JS/Contact Us/ContactUS.js"></script>
</body>
</html>